:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff1100;
  --mainGreen: #11cc11;
  --mainGrey: #dddddd;
}

.navbar {
  text-align: center;
  color: var(--mainWhite);
  background: var(--lightBlue);
}

.list-group-item {
  border: 0.2rem solid var(--lightBlue) !important;
  border-radius: 15px !important;
  text-align: center;
  transition: all 0.2s linear;
}

.list-group-item-done {
  border: 0.2rem solid var(--mainGreen) !important;
}

.list-group-item:hover {
  border: 0.5rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.list-menu-item {
  cursor: pointer;
  transition: all 0.2s linear;
}

.list-menu-item:hover {
  border: 0.5rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.title-text {
  font-family: "Cabin", sans-serif !important;
  font-size: 2rem;
  color: var(--mainWhite) !important;
}

.nav-icon-span {
  color: var(--mainWhite);
}

.nav-item-icon {
  color: var(--mainWhite) !important;
  font-size: 2rem !important;
  cursor: pointer;
}

.icon-span {
  font-size: 1.5rem;
}
.icon {
  cursor: pointer;
  transition: all 0.2s linear;
}
.icon:hover {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 0.2);
}
.hidden-icon {
  color: var(--mainGrey) !important;
}

.friend-icon-span {
  text-align: right;
}

body {
  font-family: "Exo 2", sans-serif !important;
  background: var(--mainWhite) !important;
}

.icon-has-message {
  color: transparent !important;
  animation-name: icon-pulse;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  background-clip: text;
}
@keyframes icon-pulse {
  0% {
    background-color: var(--mainWhite);
  }
  50% {
    background-color: var(--mainRed);
  }
  100% {
    background-color: var(--mainWhite);
  }
}
